.Grammar_Form_Note {
    margin-top: 0px;
    width: 95.45%;
    padding-top: 10px;
    padding-bottom: 10px;
    height: fit-content;
    border-left: 1px;
    border-top: 0px;
    border-right: 1px;
    border-bottom: 0px;
    border-color: #c4c4c4;
    border-style: solid;
    padding-left: 4.55%;
}

.Grammar_Form_Note .Grammar_Note_Content {
    text-align: center;
    position: relative;
    line-height: 20px;
    width: 100%;
}

.decoration_note_text {
    background: #211f60;
    position: relative;
    font-family: 'Open Sans';
    font-style: bold;
    font-weight: 700;
    width: fit-content;
    border: 1px;
    border-style: solid;
    border-color: #211f60;
    font-size: 14px;
    color: #ffffff;
}