.Grammar_Detail {
    width: 100%;
    height: fit-content;
    position: absolute;
}

.Grammar_Detail .Grammar_Detail_Outline_Port {
    position: relative;
    top: 270px;
    height: fit-content;
}

.Grammar_Detail .Grammar_Detail_Header {
    width: 100%;
    top: 0px;
    height: fit-content;
    position: relative;
}

.Grammar_Detail .Grammar_Detail_Inline_Port {
    top: 0px;
    position: relative;
    left: 6%;
    width: 88%;
    height: fit-content;
    /* background-color: yellow; */
    background-repeat: no-repeat;
    padding-top: 0px;
}

.Grammar_Detail .Grammar_Detail_Content {
    position: relative;
    padding-left: 4%;
    padding-right: 4%;
    top: 0px;
    width: 92%;
    height: fit-content;
    /* background-color: green; */
    background-position: center;
    background-repeat: no-repeat;
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: #c4c4c4;
    border-style: solid;
    padding-bottom: 10px;
}

.Grammar_Detail .decoration_insert_left_right_border {
    width: 100%;
    height: 20px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: #c4c4c4;
    /* border-color: tomato; */
    border-style: solid;
}

.Grammar_Detail .Grammar_Detail_Footer {
    margin-top: 20px;
    top: 270px;
    position: relative;
    bottom: 0px;
    height: 10%;
    width: 100%;
}

.Grammar_Detail .Grammar_Detail_Description {
    position: relative;
    height: fit-content;
}

.Grammar_Detail .Grammar_Detail_Outline_Port .Grammar_Detail_Inline_Port .Grammar_Detail_Content .decoration_below_border {
    position: relative;
    width: 100%;
    height: 10px;
    background: ffffff;
    border-left: 1px;
    border-right: 1px;
    border-top: 0px;
    border-bottom: 1px;
    border-color: #c4c4c4;
    border-style: solid;
}
