.Grammar_Detail {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.Grammar_Detail .Grammar_Detail_Header {
    top: 0px;
    width: 100%;
    height: 10%;
    bottom: 0px;
    left: 0px;
}

.Grammar_Detail .Dock_Notification {
    position: relative;
    width: 100%;
    height: 10%;
    padding-left: 15px;
    display: flex;
    align-items: center;
    background-color: gray;
}

.Grammar_Detail .Grammar_Detail_Main_Port {
    top: 100px;
    position: relative;
    left: 6%;
    width: 88%;
    height: fit-content;
    background-repeat: no-repeat;
    padding-top: 0px;
    border: 1px solid #c4c4c4;
}

.Grammar_Detail .Grammar_Detail_Content {
    position: relative;
    padding-left: 4%;
    padding-right: 4%;
    top: 0px;
    width: 92%;
    height: fit-content;
    padding-bottom: 10px;
}

.Grammar_Detail .Grammar_Detail_Footer {
    margin-top: 20px;
    top: 270px;
    position: relative;
    bottom: 0px;
    height: 10%;
    width: 100%;
}

.Grammar_Detail .Grammar_Detail_Description {
    position: relative;
    height: fit-content;
    left: 4%;
    width: 92%;
}

.Grammar_Detail .Grammar_Detail_Content .Below_Border {
    position: relative;
    width: 100%;
    height: 10px;
    background: ffffff;
    border-left: 1px;
    border-right: 1px;
    border-top: 0px;
    border-bottom: 1px;
    border-color: #c4c4c4;
    border-style: solid;
}