@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap");
.Admin_Description_Content {
    position: relative;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #363636;
    text-align: left;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1100px) {
    .Admin_Description_Content {
        font-size: 18px;
    }
}

@media screen and (max-width: 900px) {
    .Admin_Description_Content {
        font-size: 16px;
    }
}
