@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
.Admin_Grammar_Category_Item {
    position: relative;
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
    border: 1px #c4c4c4 solid;
    border-top: 5px #211f60 solid;
    padding-top: 3px;
    padding-bottom: 10px;
}

.Admin_Grammar_Category_Item:hover {
    box-shadow: 0px 0px 5px 1px #c4c4c4;
}

.Admin_Grammar_Category_Item_Name_Manage_Port {
    display: flex;
    justify-content: space-between;
}

.Admin_Grammar_Category_Item .Admin_Grammar_Category_Item_Name {
    position: relative;
    padding-bottom: 5px;
    padding-left: 1.82%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #211f60;
}

.Admin_Grammar_Category_Item_Btn_Group {
    margin-right: 5%;
    width: 65px;
    display: flex;
}

.Admin_Grammar_Category_Item_Edit_Btn {
    width: 25px;
    height: 25px;
    left: 0;
}

.Admin_Grammar_Category_Item_Edit_Btn:hover {
    opacity: 90%;
    cursor: pointer;
}

.Admin_Grammar_Category_Item_Edit_Btn:active {
    opacity: 80%;
    cursor: pointer;
    border-radius: 20px;
}
.Admin_Grammar_Category_Item_Delete_Btn {
    width: 25px;
    height: 25px;
    margin-left: 15px;
}

.Admin_Grammar_Category_Item_Delete_Btn:hover {
    opacity: 90%;
    cursor: pointer;
}

.Admin_Grammar_Category_Item_Delete_Btn:active {
    opacity: 80%;
    cursor: pointer;
    border-radius: 20px;
}
