@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
.Admin_Grammar_Category_Item {
    position: relative;
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
    border: 1px #c4c4c4 solid;
    border-top: 5px #3366ff solid;
    padding-top: 3px;
    padding-bottom: 10px;
}

.Admin_Grammar_Category_Item_Name .Description_Tooltip_Text {
    visibility: hidden;
    min-width: 100px;
    width: fit-content;
    max-width: 300px;
    text-align: center;
    border-radius: 5px;
    padding: 3px 0;
    height: fit-content;
    position: absolute;
    border: #c4c4c4 1px solid;
    background: white;
    color: #363636;
    font-size: 14px;
    font-weight: 300;
    opacity: 90%;
    z-index: 1;
}

.Admin_Grammar_Category_Item_Name:hover .Description_Tooltip_Text {
    visibility: visible;
}

.Admin_Grammar_Category_Item_Name:hover {
    cursor: pointer;
}

.Admin_Grammar_Category_Item:hover {
    box-shadow: 0px 0px 5px 1px #c4c4c4;
}

.Admin_Grammar_Category_Item_Name_Manage_Port {
    display: flex;
    justify-content: space-between;
}

.Admin_Grammar_Category_Item .Admin_Grammar_Category_Item_Name {
    position: relative;
    padding-bottom: 5px;
    padding-left: 1.82%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #3366ff;
}

/* Add grammar content summary css */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
.Admin_Add_Grammar_Category_List_Item {
    margin-left: 3%;
    width: 100%;
    text-decoration: unset;
    display: flex;
}

.Admin_Add_Grammar_Category_List_Item .Admin_Add_Grammar_Category_List_Item_Port {
    position: relative;
    width: 80%;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    height: 40px;
    color: #363636;
    text-align: left;
    box-shadow: 0px 1px #c4c4c4;
    border-left: solid 5px #3366ff;
    padding-left: 2%;
    margin-left: 2%;
    text-decoration: none;
}

.Admin_Add_Grammar_Category_List_Item .Admin_Add_Grammar_Category_List_Item_Name {
    position: relative;
    width: fit-content;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    vertical-align: top;
    line-height: 25px;
    color: #363636;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 5px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    text-decoration: none;
}

.Admin_Add_Grammar_Category_List_Item .Admin_Add_Grammar_Category_List_Item_Name:hover {
    background: #c4c4c4;
    cursor: pointer;
    user-select: none;
}

.Admin_Add_Grammar_Category_List_Item .Admin_Add_Grammar_Category_List_Item_Name:active {
    background: #c4c4c4;
    cursor: pointer;
    margin-top: 6px;
}
