@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
.Admin_Grammar_Category_List_Item {
    width: 100%;
    text-decoration: unset;
    display: flex;
}

.Admin_Grammar_Category_List_Item .Admin_Grammar_Category_List_Item_Name {
    position: relative;
    width: 80%;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    vertical-align: top;
    font-size: 16px;
    line-height: 30px;
    color: #363636;
    text-align: left;
    box-shadow: 0px 1px #c4c4c4;
    border-left: solid 5px #3366ff;
    padding-left: 2%;
    margin-left: 2%;
    text-decoration: none;
}

.Admin_Grammar_Category_List_Item .Admin_Grammar_Category_List_Item_Name:active {
    display: block;
}

.Admin_Grammar_Category_List_Item .Admin_Grammar_Category_List_Item_Name:hover {
    background: #3366ff;
    color: white;
    cursor: pointer;
}

.Admin_Grammar_Category_List_Item_Btn_Group {
    margin-right: 5%;
    width: 65px;
    display: flex;
}

.Admin_Grammar_Category_List_Item_Edit_Btn {
    width: 25px;
    height: 25px;
    left: 0;
}

.Admin_Grammar_Category_List_Item_Edit_Btn:hover {
    opacity: 90%;
    cursor: pointer;
}

.Admin_Grammar_Category_List_Item_Edit_Btn:active {
    opacity: 80%;
    cursor: pointer;
    border-radius: 20px;
}
.Admin_Grammar_Category_List_Item_Delete_Btn {
    width: 25px;
    height: 25px;
    margin-left: 15px;
}

.Admin_Grammar_Category_List_Item_Delete_Btn:hover {
    opacity: 90%;
    cursor: pointer;
}

.Admin_Grammar_Category_List_Item_Delete_Btn:active {
    opacity: 80%;
    cursor: pointer;
    border-radius: 20px;
}
