@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.Grammar_Detail_Title .Title {
    position: relative;
    width: 50%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    margin-left: 25%;
    color: #FFFFff;
    background: #211f60;
}

.Grammar_Detail_Title {
    padding-top: 10px;
    position: relative;
    height: fit-content;
    padding-bottom: 20px;
    width: 100%;
}

@media screen and (max-width: 1100px) {
    .Grammar_Detail_Title .Title {
        font-size: 24px;
        height: 40px;
        line-height: 40px;
    }
}

@media screen and (max-width: 900px) {
    .Grammar_Detail_Title .Title {
        font-size: 22px;
        height: 35px;
        line-height: 35px;
    }
}

@media screen and (max-width: 800px) {
    .Grammar_Detail_Title .Title {
        font-size: 20px;
        height: 30px;
        line-height: 30px;
    }
}

@media screen and (max-width: 600px) {
    .Grammar_Detail_Title .Title {
        font-size: 18px;
        height: 25px;
        line-height: 25px;
    }
}