@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
.page_prev_title {
    position: absolute;
    width: 205px;
    height: 40px;
    left: 10px;
    top: 20px;
    line-height: 40px;
    font-family: 'Open Sans' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: right;
    align-items: center;
    color: #000000;
}

.page_title_rectangle {
    position: absolute;
    width: 150px;
    height: 40px;
    left: 225px;
    top: 20px;
    background: #211F60;
}

.page_main_title {
    position: absolute;
    width: 150px;
    height: 40px;
    left: 225px;
    top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    text-align: left;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #FFFFff;
}

.page_title_bg {
    background-color: white;
    border-color: #c4c4c4;
    border-style: solid;
    border-radius: 0px;
    border-right-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 1px;
    border-top-width: 1px;
    height: 100px;
    width: 100%;
    
    /* box-shadow: 80px 0px 0px 0px black; */
}