
.Home{
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.Home .Home_Header{
    top:0px;
    width: 100%;
    height: 10%;
    bottom: 0px;
    left: 0px;
}

.Home .Content .Dock_Notification{
    position: relative;
    width: 100%;
    height: 10%;
    padding-left: 15px;
    display: flex;
    align-items: center;
    background-color: gray;
}

.Home .Content{
    position: relative;
    overflow-y:  scroll;
    width: 100%;
    height: 90%;
    background-color: #f7f7f7;
    padding-top: 20px;
}

.Home .Content .Content_Row{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    height: auto;
    min-height: 65%;
    width: 90%;
    margin-top: 10px;
    margin-left: 3%;
    border-right: solid blue 40px;
    border-top: solid gray 1px;
    border-left: solid gray 1px;
    border-bottom: solid gray 1px;
}

.Home .Content .Notice {
    position: relative;
    height: auto;
    width: 85%;
    margin-left: 5%;
    border-top: solid blue 2px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: solid gray 1px;
}

.Home .Content .Notice p {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5px;
    margin: 0px;
    top: 0px;
    left: 0px;
}

.Home .Content .Home_Footer{
    position: relative;
    bottom: 0px;
    background-color: darkorange;
    height: 10%;
    width: 100%;
    padding-bottom: 5px;
}

.Home .Content .Content_Row .Item{
    box-sizing: border-box;
    list-style: none;
    text-align: center;
    width: 25%;
    height: 240px;
    margin-top: 5%;
    margin-left: 1%;
    margin-bottom: 5%;
}