@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
.Admin_Add_Grammar_Category_List_Item {
    width: 100%;
    text-decoration: unset;
    display: flex;
    border-left: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
}

.Admin_Add_Grammar_Category_List_Item .Admin_Add_Grammar_Category_List_Item_Port {
    position: relative;
    width: 80%;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    height: 40px;
    color: #363636;
    text-align: left;
    box-shadow: 0px 1px #c4c4c4;
    border-left: solid 5px #211f60;
    padding-left: 2%;
    margin-left: 2%;
    text-decoration: none;
}

.Admin_Add_Grammar_Category_List_Item .Admin_Add_Grammar_Category_List_Item_Name {
    position: relative;
    width: fit-content;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    vertical-align: top;
    line-height: 25px;
    color: #363636;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 5px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    text-decoration: none;
}

.Admin_Add_Grammar_Category_List_Item .Admin_Add_Grammar_Category_List_Item_Name:hover {
    background: #c4c4c4;
    cursor: pointer;
    user-select: none;
}

.Admin_Add_Grammar_Category_List_Item .Admin_Add_Grammar_Category_List_Item_Name:active {
    background: #c4c4c4;
    cursor: pointer;
    margin-top: 6px;
}
