.Root_Edit_Delete_Btn_Group {
    width: 65px;
    display: flex;
}


.Root_Edit_Delete_Btn_Group .Root_Edit_Btn {
    width: 25px;
    height: 25px;
    left: 0;
}

.Root_Edit_Delete_Btn_Group .Root_Edit_Btn:hover {
    opacity: 90%;
    cursor: pointer;
}

.Root_Edit_Delete_Btn_Group .Root_Edit_Btn:active {
    opacity: 80%;
    cursor: pointer;
    
}

.Root_Edit_Delete_Btn_Group .Root_Delete_Btn {
    width: 25px;
    height: 25px;
    margin-left: 15px;
}

.Root_Edit_Delete_Btn_Group .Root_Delete_Btn:hover {
    opacity: 90%;
    cursor: pointer;
}

.Root_Edit_Delete_Btn_Group .Root_Delete_Btn:active {
    opacity: 80%;
    cursor: pointer;
    margin: 1px;
}
