.Header{
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    text-decoration-color: black;
    box-sizing: border-box;
    /* overflow: visible; */
}

.Header .Header_Navigation{
    display: flex;
    height: 100%;
    align-self: center;
}

.Header .Header_Navigation .Header_Logo{
    position: relative;
    display: inline-block;
    width: 10%;
    min-width: 100px;
    height: 100%;
    padding-left: 10px;
}

.Header .Header_Navigation .Header_Logo .Header_Logo_Image{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
}


.Header .Header_Navigation .Header_Vertical_Line{
    margin-left: 50px;
    height: 100%;
    float: left; 
    border-left: solid black 1px; 
}

.Header .Header_Navigation  .Header_Row{
    position: relative;
    width: 100%;
    height: 100%;
}

.Header .Header_Navigation  .Header_Row .Header_Horizontal_Line{
    position: absolute;
    border-bottom: solid black 1px;
    width: 100%;
    height: 30%;
}

.Header .Header_Navigation  .Header_Row .Header_Item{
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 65%;
    top: 35%;
    left: 0px;
}

.Header .Header_Navigation  .Header_Row .Header_Item a{
    height: 100%;
    width: 100%;
    font-size: 14px;
    text-decoration-line: none;
    text-align: center;
    color: black;
}

.Header .Header_Navigation  .Header_Row .Header_Item ul:hover a{
    text-decoration: underline;
    text-decoration-color: #000066;
    color: #000066;
}

.Header .Header_Navigation  .Header_Row .Header_Item ul{
    margin: 0px;
    position: relative;
    height: 100%;
}

.Header .Header_Navigation  .Header_Row .Header_Item ul:hover{
    border-top: solid #000066 3px !important;
    cursor: pointer;
}

.Header .Header_Navigation  .Header_Row .Header_Item [class*=Item_]{
    position: relative;
    display: inline-block;
    width: 20%;
    margin: 0px;
    padding: 0px;
    align-self: center;
    align-items: center;
    text-align: center;
}

.Header .Header_Navigation  .Header_Row .Header_Item .Item_LearnEnglish {
    align-items: center;
    align-content: center;
}

.Header .Header_Navigation  .Header_Row .Header_Item ul.Item_LearnEnglish:hover a {
    text-decoration: none;
}

.Header .Header_Navigation  .Header_Row .Header_Item ul.Item_Chat:hover a {
    text-decoration: none;
}

.Header .Header_Navigation  .Header_Row .Header_Item [class*='Item_'] [class*='Item_'] {
    display: none;
    position: absolute;
    background-color: white;
    padding-top: 10px;
    z-index: 1;
}

.Header .Header_Navigation  .Header_Row .Header_Item [class*='Item_'] .Item_Profile_Picture_Dropdown {
    display: none;
    position: absolute;
    padding-top: 10px;
    top: 100%;
    z-index: 1;
}

.Header .Header_Navigation  .Header_Row .Header_Item [class*='Item_'] [class*='Item_'] a{
    color: black;
    text-decoration: none;
    font-size: 14px;
    display: block;
}

.Header .Header_Navigation  .Header_Row .Header_Item [class*='Item_'] [class*='Item_'] a:hover {
    color: #000066;
    background-color: #f1f1f1;
    text-decoration: underline;
    text-decoration-color: #000066;
    cursor: pointer;
}

.Header .Header_Navigation  .Header_Row .Header_Item [class*='Item_']:hover [class*='Item_']{
    display: block;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
}

.Header .Header_Navigation  .Header_Row .Header_Item .Item_Profile_Picture{
    position: relative;
    display: inline-block;
    align-self: center;
    margin-left: 10px;
    width: 5%;
    height: 100%;
}

.Header .Header_Navigation  .Header_Row .Header_Item ul.Item_Profile_Picture:hover{
    clear: both;
    border-top: 0px !important;
}

.Header .Header_Navigation  .Header_Row .Header_Item .Item_Profile_Picture img{
    display: block;
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    min-width: 50px;
    min-height: 40px;
    top: 0px;
    right: 0px;
}
