
.header{
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 9999;
    position: relative;
    background-color: white;
    border-bottom:  solid gray 2px;
}

.header-grid-1 {
    display: grid;
    width: 100%;
    grid-template-rows: 60px;
    grid-template-columns: 15% 85%
}
.col-1{
    display: grid;
    grid-column: 1;
    grid-row: 1;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    font-size: 20px;
}

.col-1-col-1{
    grid-column: 1;
    grid-row: 1;
    text-align: end;
    margin-left: 55%;
    background-color: #1b20a1;
}

.col-1-col-2{
    text-align: start;
    grid-column: 2;
    grid-row: 1;
    /* padding-right: 5px; */
    border-right: 2px solid gray;
    color: black;
}

.col-2{
    display: grid;
    grid-column: 2;
    grid-row: 1;
    grid-template-columns: auto;
    grid-template-rows: 35% 65%;
    background-color: white;
}
.col-2-row-1{
    grid-column: 1;
    grid-row: 1;
    border-bottom: 2px solid gray;
}

.col-2-row-2{
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 17% 17% 17% 16% 16% 17%;
    grid-template-rows: 100%;
    color: black;
    align-self: center;
    font-size: medium;
    font-weight: bold;
}

.col-2-row-2-col-1{
    border: 0px;
    grid-row: 1;
    grid-column: 1;
}
.col-2-row-2-col-2{
    border: 0px;
    grid-row: 1;
    grid-column: 2;
}
.col-2-row-2-col-3{
    border: 0px;
    grid-row: 1;
    grid-column: 3;
}
.col-2-row-2-col-4{
    border: 0px;
    grid-row: 1;
    grid-column: 4;
}
.col-2-row-2-col-5{
    border: 0px;
    grid-row: 1;
    grid-column: 5;
}
.col-2-row-2-col-6{
    border: 0px;
    grid-row: 1;
    grid-column: 6;
}

a{
    color: black;
}

a:hover{
    text-decoration: none;
}

img{
    border-radius: 50%;
    height: 100%;
    width: 17%;
}

.col-2-row-2-col-1:hover, .col-2-row-2-col-2:hover,
.col-2-row-2-col-3:hover, .col-2-row-2-col-4:hover,
.col-2-row-2-col-6:hover{
    color: #1394f0;
}