.Header{
    position: fixed;
    width: 100%;
    height: 10%;
    background-color: aqua;
    text-decoration-color: black;
    box-sizing: border-box;
}

.Header_Navigation{
    display: flex;
    height: 100%;
    align-self: center;
}

.Header_Logo{
    position: relative;
    display: inline-block;
    width: 10%;
    height: 100%;
    padding-left: 10px;
}

.Header_Logo_Image{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
}


.Header_Vertical_Line{
    margin-left: 50px;
    height: 100%;
    float: left; 
    border-left: solid black 1px; 
}

.Header_Row{
    position: relative;
    width: 100%;
    height: 100%;
}

.Header_Horizontal_Line{
    position: absolute;
    border-bottom: solid black 1px;
    width: 100%;
    height: 30%;
}

.Header_Item{
    position: absolute;
    background-color: yellow;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 65%;
    top: 35%;
    left: 0px;
}

.Header_Item a{
    height: 100%;
    width: 100%;
    text-decoration-line: none;
    text-align: center;
}

.Header_Item ul:hover a{
    text-decoration-line: underline;
    text-decoration-color: blue;
    color: blue;
}

.Header_Item ul{
    margin: 0px;
    position: relative;
    height: 100%;
}

.Header_Item ul:hover{
    border-top: solid blue 3px !important;
    cursor: pointer;
}

[class*=Item_]{
    width: 20%;
    margin: 0px;
    padding: 0px;
    align-self: center;
    align-items: center;
    text-align: center;
}

.Item_Profile_Picture{
    position: relative;
    display: inline-block;
    align-self: center;
    width: 20%;
    height: 100%;
}

.Header_Item ul.Item_Profile_Picture:hover{
    clear: both;
    border-top: 0px !important;
}

.Item_Profile_Picture img{
    display: block;
    position: absolute;
    width: 30%;
    height: 100%;
    top: 0px;
    right: 0px;
    margin-right: 10px;
}