.Parent_Dropdown_Combobox {
    background     : white;
    user-select    : none;
    display        : flex;
    justify-content: space-between;
    padding-right  : 10px;
    color          : white;
    box-shadow     : 0px 1px 0px 0px #eeeeee;
    padding-top    : 1px;
    padding-bottom : 1px;
    border-radius  : 5px;
}

.Dropdown_Combobox_Sub_Item {
    box-sizing   : border-box;
    font-family  : "Barlow Condensed", "san-serif";
    font-weight  : 500;
    font-size    : 18px;
    color        : #363636;
    padding-left : 4px;
    user-select  : none;
    border-right : 4px white solid;
    border-radius: 5px;
}

.Activated_Dropdown_Combobox_Sub_Item {
    box-sizing   : border-box;
    font-family  : "Barlow Condensed", "san-serif";
    font-weight  : 500;
    font-size    : 18px;
    color        : #363636;
    padding-left : 4px;
    user-select  : none;
    border-right : 4px white solid;
    border-radius: 5px;
    background   : #dedede !important;
    cursor       : pointer;
    border-right : 3px #5279db solid;
}

.Dropdown_Combobox_Container {
    margin-top   : 5px;
    border       : 1px #eeeeee solid;
    border-bottom: 3px #5279db solid;
    border-radius: 5px;
    box-shadow   : 0px 0px 2px 0px #eeeeee;
    display      : none;
    user-select  : none;
    padding      : 5px;
    width        : 100%;
    background   : white;
}

.Parent_Dropdown_Combobox:hover,
.Dropdown_Combobox_Sub_Item:hover {
    background  : #eeeeee !important;
    cursor      : pointer;
    border-right: 3px #5279db solid;
}

.Parent_Dropdown_Combobox:active,
.Dropdown_Combobox_Sub_Item:active {
    background: #dedede !important;
    cursor    : pointer;
}

.Dropdown_Btn_Element {
    width         : 8px;
    height        : 8px;
    vertical-align: auto;
    margin-top    : 10px;
}

.Vertical_Menu_Item_Text {
    font-family    : "Barlow Condensed", "san-serif";
    font-weight    : 500;
    font-size      : 20px;
    color          : #363636;
    padding-left   : 5px;
    text-decoration: none;
}