.Footer {
    z-index   : -1;
    position  : relative;
    width     : 100%;
    height    : 300px;
    min-height: 300px;

}

.Footer_1 {
    position     : relative;
    padding-left : 7%;
    padding-right: 7%;
    height       : 70%;
    background   : #3366ff;
    width        : 86%;
}


.Footer_2 {
    position     : relative;
    height       : 30%;
    padding-left : 7%;
    width        : 86%;
    padding-right: 7%;
    background   : #3399ff;
}