.grammar_title_port {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    z-index: 0;
}

.grammar_main_port {
    top: 270px;
    z-index: 1;
    position: absolute;
    left: 6%;
    width: 88%;
    height: 1000px;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 0px;
}

.grammar_category_port {
    position: absolute;
    padding-left: 12.5%;
    padding-right: 12.5%;
    top: 270px;
    width: 75%;
    height: 730px;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: #c4c4c4;
    border-style: solid;
}



@media screen and (max-width: 1100px) {
    .grammar_category_port {
        /* font-size: 18px; */
        top: 270px;
    }
}

@media screen and (max-width: 900px) {
    .grammar_category_port {
        /* font-size: 16px; */
        top: 300px;
    }
}

@media screen and (max-width: 800px) {
    .grammar_category_port {
        /* font-size: 14px; */
        top: 330px;
    }
}


@media screen and (max-width: 600px) {
    .grammar_category_port {
        /* font-size: 14px; */
        top: 360px;
    }
}