.User_Account_Management {
    width: 100%;
    height: fit-content;
    position: absolute;
}

.User_Account_Management .User_Account_Management_Outline_Port {
    position: relative;
    top: 270px;
    height: fit-content;
}

.User_Account_Management .User_Account_Management_Header {
    width: 100%;
    top: 0px;
    height: fit-content;
    position: relative;
}

.User_Account_Management .User_Account_Management_Inline_Port {
    top: 0px;
    position: relative;
    left: 6%;
    width: 88%;
    height: fit-content;
    background-repeat: no-repeat;
    padding-top: 0px;
}

.User_Account_Management .decoration_insert_left_right_border {
    width: 100%;
    height: 20px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: #c4c4c4;
    border-style: solid;
}

.User_Account_Management .User_Account_Management_Footer {
    margin-top: 20px;
    top: 270px;
    position: relative;
    bottom: 0px;
    height: 10%;
    width: 100%;
}

.User_Account_Management .User_Account_Management_Outline_Port .User_Account_Management_Inline_Port .decoration_below_border {
    position: relative;
    width: 100%;
    height: 10px;
    background: ffffff;
    border-left: 1px;
    border-right: 1px;
    border-top: 0px;
    border-bottom: 1px;
    border-color: #c4c4c4;
    border-style: solid;
}
/* 
*, *::before, *::after {
    box-sizing: border-box;
    
}

body {
    color: #272727;
    font-family: 'Quicksand', serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    padding: 1rem;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.btn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards_item {
    display: flex;
    padding: 1rem;
}

@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 33.3333%;
    }
}

.card {
    background-color: white;
   
} */
