.Admin {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    min-width: 1100px;
}

/* Header Area */

.Admin .Admin_Header {
    top: 0px;
    width: 100%;
    height: 10%;
    bottom: 0px;
    left: 0px;
}

.Admin .Admin_Dock_Notification {
    position: relative;
    width: 100%;
    height: 10%;
    padding-left: 15px;
    display: flex;
    align-items: center;
    background-color: gray;
}

/* Body Port*/

.Admin .Admin_Main_Port {
    top: 100px;
    position: relative;
    left: 6%;
    width: 88%;
    height: fit-content;
    background-repeat: no-repeat;
    padding-top: 0px;
    border: 1px #c4c4c4 solid;
}

/* Admin Info Port: contain: avatar, display name, gmail and logout button */
.Admin .Admin_Info_Port {
    display: flex;
    width: 300px;
    border: 1px #c4c4c4 solid;
    height: 80px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.Admin .Admin_Info_Port .Admin_Avatar {
    object-fit: cover;
    width: 80px;
    height: 80px;
}

.Admin .Admin_Info_Port .Admin_User_Name_Gmail_Port {
    margin-left: 10px;
    position: relative;
    width: fit-content;
    height: 80px;
}

.Admin .Admin_Info_Port .Admin_Gmail {
    width: 190px;
    position: relative;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    align-items: center;
    line-height: 20px;
    color: #363636;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: inline-block;
}

.Admin .Admin_Info_Port .Admin_User_Name {
    position: relative;
    width: 190px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    align-items: center;
    color: #211f60;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: inline-block;
}

.Admin .Admin_Info_Port .Logout_Btn {
    margin-top: 5px;
    box-sizing: border-box;
    width: 80px;
    height: 25px;
    vertical-align: auto;
    text-align: center;
    border-radius: 5px;
    background: #211f60;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    border: #ffffff;
}

.Admin .Admin_Info_Port .Logout_Btn:hover {
    cursor: pointer;
    opacity: 90%;
}

/* Menu Main Port: contain menu bar and all items that admin can manage*/
.Admin_Horizontal_Menu_Bar_Main_Management_Port {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

/* Menu bar */
.Admin_Horizontal_Menu_Bar_Main_Management_Port .Admin_Horizontal_Menu_Bar {
    display: flex;
    border-bottom: 5px #211f60 solid;
}

.Admin_Horizontal_Menu_Bar_Main_Management_Port .Admin_Horizontal_Menu_Bar .Menu_Item {
    width: fit-content;
    padding-right: 20px;
    padding-left: 20px;
    font-family: "Barlow Condensed", "san-serif";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #363636;
    user-select: none;
}

.Admin_Horizontal_Menu_Bar_Main_Management_Port .Admin_Horizontal_Menu_Bar .Menu_Item:hover {
    color: white;
    background: #211f60;
    cursor: pointer;
}

.Admin_Horizontal_Menu_Bar_Main_Management_Port .Admin_Horizontal_Menu_Bar .First_Menu_Item {
    width: fit-content;
    padding-right: 20px;
    font-family: "Barlow Condensed", "san-serif";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #363636;
    user-select: none;
}

.Admin_Horizontal_Menu_Bar_Main_Management_Port .Admin_Horizontal_Menu_Bar .First_Menu_Item:hover {
    color: white;
    background: #211f60;
    padding-left: 20px;
    cursor: pointer;
}

/* Menu Main Show Port */
.Admin .Admin_Main_Management_Port {
    height: fit-content;
    border: #c4c4c4 solid 1px;
    border-top: 0px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 800px;
}

/* User Menu: contain menu items, a menu item contain one button element and text*/
/* .Admin .Admin_Menu_Port {
    height: fit-content;
    margin-top: 10px;
    padding: 10px;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    border-left: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-color: #c4c4c4;
    border-top: 5px #211f60;
    border-style: solid;
    font-family: "Barlow Condensed", "san-serif";
    font-weight: 500;
    font-size: 20px;
    color: #363636;
} */
/* 
.Admin_GrammarManagement .User_Menu_Port .Menu_Item {
    display: flex;
    flex-direction: row;
    line-height: 30px;
}

.Admin_GrammarManagement .User_Menu_Port .Btn_Element {
    align-self: center;
    width: 8px;
    height: 8px;
    padding-right: 5px;
}

.Admin_Grammar_Category_Port {
    position: relative;
    left: 4.2%;
    width: 91.6%;
} */

.Admin_Footer {
    margin-top: 20px;
    top: 100px;
    position: relative;
    bottom: 0px;
    height: 10%;
    width: 100%;
}
