.User_Menu {
    position: relative;
    background: blueviolet;
    width: 99.17%;
    padding-top: 10px;
    height: fit-content;
    border-left: 1px;
    border-top: 0px;
    border-right: 1px;
    border-bottom: 0px;
    border-color: #c4c4c4;
    border-style: solid;
    padding-left: 0.83%;
}

.User_Menu .User_Menu_User_Info {}

.User_Menu .User_Menu_User_Info .User_Name {
    width: 180px;
    height: 25px;
    left: 110px;
    top: 10px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    align-items: center;
    color: #211F60;
}

.User_Menu .User_Menu_User_Info .Gmail {
    width: 180px;
    height: 20px;
    left: 110px;
    top: 30px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
}