.background_rectangle {
    position: relative;
    left: 83px;
    top: 270px;
    width: 1200px;
    min-width: 600px;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    padding-top: 0px;
}
